

$body-bg: #fff3e6;

$theme-colors:(
  "purple-main": #726a95,
        "light-purple": #c1a1d3,
  "gold": #ffdc76,
  "light-text": #fff3e6,
);

$enable-shadows;

html{
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.wave-container-purple{
  background: #726a95;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.wave-container-purple > svg {
  display: block;
}

section{
  margin-bottom: -150px;
}

.login{


}



@import "../bootstrap/scss/bootstrap";